<article class="stories">
  <!-- Header -->
  <section class="stories__header">
    <div class="stories__title">Stories</div>
    <div class="stories__subtitle">
      <i class="material-icons-outlined">play_arrow</i>
      <span>Watch all</span>
    </div>
  </section>

  <!-- List -->
  <ul class="stories__list">
    <li class="story">
      <div class="story__container">
        <img
          class="story__image"
          src="http://picsum.photos/201"
          alt="profile"
        />
        <div class="story__add">
          <i class="material-icons story__add-icon">add_circle</i>
        </div>
      </div>
      <div class="story__username">Your Story</div>
    </li>

    <li class="story--border">
      <div class="story__container">
        <img
          class="story__image"
          src="http://picsum.photos/200"
          alt="profile"
        />
      </div>
      <div class="story__username">ninanyc</div>
    </li>
    <li class="story--border">
      <div class="story__container">
        <img
          class="story__image"
          src="http://picsum.photos/199"
          alt="profile"
        />
      </div>
      <div class="story__username">benjirenzo</div>
    </li>
  </ul>
</article>
